.button {
  background-color: rgba(144, 195, 251, 0.788);
  color: aliceblue;
  height: 2rem;
  width: fit-content;
  margin-top: 0.5rem;
  display: block;
  border-radius: 0.5rem;
  overflow: hidden; /* Add this line */
  text-overflow: ellipsis; /* Add this line */
}

.button:hover {
  background-color: rgba(48, 125, 214, 0.679);
  color: aliceblue;
}

.button:hover > .link {
  color: aliceblue;
}

.link {
  text-decoration: none;
  color: black;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  /* Adjust the button height and width for smaller screens */
  .button {
    height: 2rem;
    width: 70%;
  }
}
